{% load static %}
<section id="contact">

    <div class="row section-intro">
       <div class="col-twelve">

           <h5>Contact</h5>
           <h1>I'd Love To Hear From You.</h1>

           <p class="lead">If you want to hire me E-mail me I'm all ears to your offer.</p>

       </div> 
   </div> <!-- /section-intro -->

   <div class="row contact-form">

       <div class="col-twelve">

        <!-- form -->
        <form name="contactForm" id="contactForm" method="post" action="">
              <fieldset>

              <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
              </div>
              <div class="form-field">
                     <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
               </div>
              <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
               </div>                       
              <div class="form-field">
                     <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
               </div>                      
             <div class="form-field">
                 <button class="submitform">Submit</button>
                 <div id="submit-loader">
                    <div class="text-loader">Sending...</div>                             
                         <div class="s-loader">
                                  <div class="bounce1"></div>
                                  <div class="bounce2"></div>
                                  <div class="bounce3"></div>
                            </div>
                        </div>
              </div>

              </fieldset>
          </form> <!-- Form End -->

        <!-- contact-warning -->
        <div id="message-warning">            	
        </div>            
        <!-- contact-success -->
          <div id="message-success">
           <i class="fa fa-check"></i>Your message was sent, thank you!<br>
          </div>

     </div> <!-- /col-twelve -->
       
   </div> <!-- /contact-form -->

   <div class="row contact-info">

       <div class="col-four tab-full">

           <div class="icon">
               <i class="icon-pin"></i>
           </div>

           <h5>Where to find me</h5>

           <p>
        {{ adress }}
        </p>

       </div>

       <div class="col-four tab-full collapse">

           <div class="icon">
               <i class="icon-mail"></i>
           </div>

           <h5>Email Me At</h5>

           <p>yamoz1030@gmail.com</p>

       </div>

       <div class="col-four tab-full">

           <div class="icon">
               <i class="icon-phone"></i>
           </div>

           <h5>Call Me At</h5>

           <p>Mobile: {{ pnum }}</p>

       </div>
       
   </div> <!-- /contact-info -->
    
</section> <!-- /contact -->

<!-- footer
   ================================================== -->

   <footer>
    <div class="row">
        <div class="col-six tab-full pull-right social">
            <ul class="footer-social">
                <li>
                    <a target="_blank" href="https://github.com/ysnztrk021"><i class="fa fa-github"></i></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/muhammed-yasin-%C3%B6zt%C3%BCrk-46a8b620a/"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-six tab-full">
            <div class="copyright">
                <span>© Copyright Kards 2016.</span>
                <span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>
            </div>
        </div>

        <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
        </div>
    </div>
    <!-- /row -->
</footer>