<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Kards</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   {% load static %}
   <link rel="stylesheet" href="{% static 'CV/css/base.css' %}">  
   <link rel="stylesheet" href="{% static 'CV/css/main.css' %}">
   <link rel="stylesheet" href="{% static 'CV/css/vendor.css' %}">     

   <!-- script
   ================================================== -->   
	<script src="{% static 'CV/js/modernizr.js' %}"></script>
	<script src="{% static 'CV/js/pace.min.js' %}"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="{% static 'CV/images/favicon.png' %}">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
	<div class="row">

		<div class="top-bar">
			<a class="menu-toggle" href="#"><span>Menu</span></a>

			<div class="logo">
			  <a href='#'>YAMO</a>
		   </div>		      

			<nav id="main-nav-wrap">
				 <ul class="main-navigation">
					 <li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
					 <li><a class="smoothscroll"  href="#about" title="">About</a></li>
					 <li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
					 <li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>					
					 <li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>
				 </ul>
			 </nav>    		
		</div> <!-- /top-bar --> 
		
	</div> <!-- /row --> 		
</header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Hi</h5>
	   			<h1>I'm {{ name }}</h1>

	   			<p class="intro-position">
	   				<span>Full-stack Web Developer</span> 
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">
         <li><a href="https://github.com/ysnztrk021" target="_blank"><i class="fa fa-github"></i></a></li>
         <li><a href="https://www.linkedin.com/in/muhammed-yasin-%C3%B6zt%C3%BCrk-46a8b620a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>Let me introduce myself.</h1>

   			<div class="intro-info">

   				<img src="{% static 'CV/images/profile-pic.jpg' %}" alt="Profile Picture">

   				<p class="lead">I'm self-learner, I am energic, calm, rational person and I love to learn new things. As long as I love what I do, I can do everything 100%</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>
   			<p>I was born in Belgium but my origins are from Turkey. I'm 22 years old and I finished my high school, I love programing</p>

   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>{{ name }} {{ surname }}</span>
   				</li>
   				<li>
   					<strong>Birth Date:</strong>
   					<span>{{ bday }}</span>
   				</li>
   				<li>
   					<strong>Job:</strong>
   					<span>Full-Stack Web Developer</span>
   				</li>
   				<li>
   					<strong>Website:</strong>
   					<span>github.com/ysnztrk021</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>yamoz1030@gmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Skills</h3>
   			<p>I learned almost everything by myself, I got a formation for some of my skills but after that I learned eveything by myself</p>

				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent60"><span>60%</span></div>
				   	<strong>HTML5</strong>
				   </li>
				   <li>
				   	<div class="progress percent60"><span>60%</span></div>
				   	<strong>CSS3</strong>
				   </li>
				   <li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>Python</strong>
				   </li>
				   <li>
					   <div class="progress percent70"><span>70%</span></div>
					   <strong>Django</strong>
				   </li>
				   <li>
				   	<div class="progress percent50"><span>50%</span></div>
				   	<strong>PHP</strong>
				   </li>
				   <li>
				   	<div class="progress percent50"><span>50%</span></div>
				   	<strong>Symfony</strong>
				   </li>
				   <li>
				   	<div class="progress percent50"><span>50%</span></div>
				   	<strong>TWIG</strong>
				   </li>
				   <li>
				   	<div class="progress percent60"><span>60%</span></div>
				   	<strong>JavaScript</strong>
				   </li>
				   <li>
				   	<div class="progress percent60"><span>60%</span></div>
				   	<strong>Node JS</strong>
				   </li>
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>MYSQL MariaDB</strong>
				   </li>
      
				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resume</h5>
   			<h1>More of my credentials.</h1>

   			<p class="lead">I never worked in my life I just praticed, everything is based on theoric not on experience, so I would like to gain some experiences.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					---
	   				</div>

	   				<div class="timeline-content">
	   					---
	   				</div>

	   			</div> <!-- /timeline-block -->


	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Web Developer Certification</h3>
	   					<p>January 2022 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>CFITECH</h4>
	   					<p>Cfitech is a center of formation, where you learn Web Development(fullstack), Help Desk, and Computer Techinician</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>High School Diploma</h3>
	   					<p>September 2016 - June 2020</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Şehit Emrah Sapa AIHL</h4>
	   					<p>Şehit Emrah Sapa AIHL It's a high school I went in Turkey, It wasn't the best high school in the world but I learned somethings there.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->
	   			
				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>CE1D</h3>
	   					<p>September 2012 - June 2015</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Collège des Étoiles</h4>
	   					<p>Collège des Étoiles is a High School I went before I move to Turkey, it was the best school I went in my whole life</p>
	   				</div>

	   			</div> <!-- /timeline-block -->
				
				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Primary School Diploma</h3>
	   					<p>September 2006 - June 2012</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>École Communale N2</h4>
	   					<p>For me it's the best Primary school in the world.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
		
	</section> <!-- /features -->


	{% block body %}
	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

			   <h1>Check Out Some of My Works.</h1>

			   <a href="http://127.0.0.1:8000/portfolio/" title="Download CV" class="button button-primary">PORTFOLIO</a>

   		</div>   		
		
	</section> <!-- /portfolio -->

   <!-- contact footer
   ================================================== -->
	{% include 'CV/contact.html' %}
	{% endblock body %}

   <!-- Java Script
   ================================================== --> 
   <script src="{% static 'CV/js/jquery-2.1.3.min.js'%}"></script>
   <script src="{% static 'CV/js/plugins.js' %}"></script>
   <script src="{% static 'CV/js/main.js'%}"></script>

</body>

</html>